body{
    background-color: gray;
}
.space{
    border: solid white 1px;
    background-color: black;
    display: inline-block;
    width: 60px;
    height: 60px;
}
.player{
    border: solid yellow 1px;
    background-color: yellow;
    display: inline-block;
    width: 60px;
    height: 60px;
}
.npc{
    border: solid red 1px;
    background-color: red;
    display: inline-block;
    width: 60px;
    height: 60px;
}
.block{
    border: solid white 1px;
    background-color: blue;
    display: inline-block;
    width: 60px;
    height: 60px;
}


