body{
    background-color: rgb(39, 39, 39);
}

.space{
    border: solid white 1px;
    background-color: black;
    display: inline-block;
    width: 60px;
    height: 60px;
}
.player{
    border: solid white 1px;
    background-color: yellow;
    display: inline-block;
    width: 60px;
    height: 60px;
}
.npc{
    border: solid white 1px;
    background-color: red;
    display: inline-block;
    width: 60px;
    height: 60px;
}
.block{
    border: solid white 1px;
    background-color: blue;
    display: inline-block;
    width: 60px;
    height: 60px;
}
h1{
    color: red;
    font-size: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 auto;
    text-align: center;
}
.but{
    background-color: green;
    height: 40px;
    width: 100px;
    color: white;
}
.stairup{
    border: solid white 1px;
    background-color: lightgreen;
    display: inline-block;
    width: 60px;
    height: 60px;
}
.stairdown{
    border: solid white 1px;
    background-color: rgb(0, 51, 0);
    display: inline-block;
    width: 60px;
    height: 60px;
}

