html body{
    height:100%;
    width:100%;
}
body{
    text-align: center;
}
#game{
    height: 500px;
    width: 100%;
}
.row .column{
    height:50px;
    width:50px;
    margin-left:2px;
    margin-top:2px;
    background-color: yellow;
}