@font-face {
    font-family: "PacmanFont";
    src: url("../font/pacmanfont.ttf") format('truetype');
}

body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#board {
    margin-left: auto;
    margin-right: auto;
    font-family: 'PacmanFont';
    font-size: 2em;
    background-color: black;
    border: 5px solid navy;
}
#controls {
    margin-left: auto;
    margin-right: auto;  
}

.cell-G {
    color: black;
}

.cell-X {
    color: wheat;
}

.cell-2 {
    color: navy;
}

.cell-O {
    color: gold;
}

.cell-A {
    color: crimson;
}

.cell-S {
    color: mediumvioletred;
}