.board{
    width: 500px;
    height: 500px;
background-color: black;
}
.board div{
    width: 20px;
    height: 20px;
}
.row {
    display: flex;
    flex-direction: row;
}

.row > div {
    padding: 5px;
    text-align: center;
}