@font-face {
    font-family: pacman;
    src: url(pacmanv3.ttf);
}

html, body {
    height: 800px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: pacman;
}

.board {
    width: 100%;
    height: 450px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.row > div {
    width: 80px;
    height: 80px;
    font-size: 50px;
    padding: 5px;
    text-align: center;
}

h4 {
    display: none;
    justify-content: center;
    font-size: 25px;
}

.restart-btn {
    margin: 50px auto;
    width: 100px;
    height: 50px;
    background-color: rgb(255, 166, 0);
    justify-content: center;
    display: flex;
    align-items: center;
}

.restart-btn:hover {
    cursor: pointer;
}